
	<p>Synesthesia is a condition in which a person associates things (numbers, letters, people, <em> bands</em>, etc.) with colors. Enter your favorite band and see what we see.</p>

	<form action="/artist" method="get">
	<input type="text" placeholder="Enter Artist" name= "artist">
	<button type="submit">CHECK IT</button>
</form>