	<h2>Synesthese that!</h2>
	<p>Synesthesia is a condition in which a person associates things (numbers, letters, people, <em> bands</em>, etc.) with colors. See what colors we associate with them!</p>

	<form action="/artist" method="get">
	<input type="text" placeholder="Enter Artist" name= "artist">
	<input type="submit">
</form>